<!DOCTYPE html>
<html>
<head>
 <!-- start: Meta -->
<meta charset="utf-8">
<title>Gayface</title> 
<meta name="description" content="Gayface"/>
<meta name="keywords" content="Gayface" />
<meta name="author" content="Designed and Developed for Gayface by Samantha Radocchia aka iamsamsterdam. The Machine Elf, LLC."/>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
</head>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container">
      <div class="nav-bar">
      <header id="header">
        <%= render :partial => 'layouts/header' %>
      </header>
    </div>
      <section id="page">
        <%= yield %>
      </section>
      <footer>
        <%= render '/refinery/footer' -%>
      </footer>
    </div>
    <%= render '/refinery/javascripts' %>
  </body>


</html>
